*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  position: relative;
  font-size: 1.6rem;
  background-color: $mainDarkBg;
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
  width: 100%;
  overflow-x: hidden;
  &::before {
    z-index: 1;
    content: "";
    display: block;
    position: absolute;
    border: 2px solid $mainOrange;
    width: 97%;
    height: 99%;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  & > * {
    max-width: 100%;
  }
}
.main {
  margin: 0 auto;
  width: 98%;
  display: flex;
  flex-direction: column;
}
section {
  width: 100%;
  position: relative;
}
