.navigation {
  z-index: 98;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #222222;

  &--active {
    transform: translateY(0);
    opacity: 1;
  }
  opacity: 0.3;
  transition: transform ease 0.2s, opacity ease 0.2s;

  transform: translateY(-100vh);
}
.navigation__list {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
.navigation__listItem {
}
.navigation__link {
  color: #ffe8b0;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation__hamburgerBtn {
  z-index: 99;
  width: 9vw;
  position: fixed;
  top: 2vh;
  right: 5vw;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:after,
  &:before,
  div {
    background-color: $mainOrange;
    border-radius: 3px;
    content: '';
    display: block;
    height: 3px;
    margin: 8px 0;
    box-shadow: 0 1px 1px black;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  &:focus {
    outline: none;
  }
}
.navigation__hamburgerBtn--active {
  &:before {
    background-color: $mainOrange;
    box-shadow: 0 0 0 transparent;
    transform: translateY(12px) rotate(135deg);
    -webkit-transform: translateY(12px) rotate(135deg);
    -moz-transform: translateY(12px) rotate(135deg);
    -ms-transform: translateY(12px) rotate(135deg);
    -o-transform: translateY(12px) rotate(135deg);
  }

  &:after {
    background-color: $mainOrange;
    box-shadow: 0 0 0 transparent;
    transform: translateY(-10px) rotate(-135deg);
    -webkit-transform: translateY(-10px) rotate(-135deg);
    -moz-transform: translateY(-10px) rotate(-135deg);
    -ms-transform: translateY(-10px) rotate(-135deg);
    -o-transform: translateY(-10px) rotate(-135deg);
  }

  & div {
    background-color: $mainOrange;
    box-shadow: 0 0 0 transparent;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .navigation__hamburgerBtn {
    width: 5vw;
  }
}

//landscape
@media (orientation: landscape) {
  .navigation__hamburgerBtn {
    width: 9vh;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .navigation {
    background-color: transparent;
    height: 10vh;
    opacity: 1;
    position: absolute;
    right: 0;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  .navigation__list {
    height: 100%;
    width: 65%;
    flex-direction: row;
    margin: 0;
    position: absolute;
    top: 0;
    right: 5%;
  }
  .navigation__hamburgerBtn {
    display: none;
  }

  .navigation__link {
    font-size: 1.4rem;
    letter-spacing: 2px;
    text-shadow: -1px 2px #222;
    &:hover {
      filter: brightness(1.25);
      -webkit-filter: brightness(1.25);
    }
  }
}
@media (orientation: portrait) and (min-width: 1024px) {
  .navigation__link {
    font-size: 3rem;
  }
  .navigation__hamburgerBtn {
    width: 4vw;
    &:after,
    &:before,
    div {
      height: 5px;
    }
  }
  .navigation__hamburgerBtn--active {
    &:after {
      transform: translateY(-12px) rotate(-135deg);
      -webkit-transform: translateY(-12px) rotate(-135deg);
      -moz-transform: translateY(-12px) rotate(-135deg);
      -ms-transform: translateY(-12px) rotate(-135deg);
      -o-transform: translateY(-12px) rotate(-135deg);
    }
  }
}
