@keyframes shine {
  0% {
    transform: skewX(-30deg) translateX(-150%);
  }
  100% {
    transform: skewX(-60deg) translateX(350%);
  }
}

.realizations {
  width: 98vw;
  z-index: 2;
  margin: 0 auto;
}
.realizations__wrapper {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: repeat(auto-fill, 80px);
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  padding: 50px 0;
}
.realizations__header {
}

.realizations__realization {
  position: relative;
  width: 80px;
  height: 80px;

  @for $i from 1 to 20 {
    &--#{$i} {
      grid-area: a#{$i};
    }
  }
}
.realizations__insideWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 100px;
  height: 100px;
  background-color: $mainOrange;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  overflow: hidden;
  border: 1px solid $mainOrange;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transform: skewX(-30deg) translateX(-150%);
  }
  &--shine {
    &:before {
      animation: 0.5s shine;
    }
  }
  &:hover {
    transition: 1s;
    box-shadow: 0px 0px 45px 0px rgba(255, 255, 255, 0.65);
  }
}

.realizations__textWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  color: #ffe39f;
}
.realizations__readMore {
  color: #ffe39f;
  text-transform: uppercase;
  font-family: $Lato;
  font-size: 1.4rem;
}
.realizations__realizationName {
  font-size: 1.2rem;
  font-weight: light;
}
.realizations__realizationPlace {
  font-size: 1rem;
  font-weight: light;
}
.realizations__displayMore {
}
@media (orientation: portrait) and (min-width: 414px) {
  .realizations__wrapper {
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: repeat(auto-fill, 90px);
  }
  .realizations__realization {
    width: 90px;
    height: 90px;
  }
  .realizations__insideWrapper {
    width: 115px;
    height: 115px;
  }
  .realizations__readMore {
    font-size: 1.6rem;
  }
  .realizations__realizationName {
    font-size: 1.4rem;
  }
  .realizations__realizationPlace {
    font-size: 1.2rem;
  }
}
@media (orientation: portrait) and (min-width: 768px) {
  .realizations__wrapper {
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: repeat(auto-fill, 120px);
  }
  .realizations__realization {
    width: 120px;
    height: 120px;
  }
  .realizations__insideWrapper {
    width: 155px;
    height: 155px;
  }
  .realizations__readMore {
    font-size: 1.8rem;
  }
  .realizations__realizationName {
    font-size: 1.6rem;
  }
  .realizations__realizationPlace {
    font-size: 1.4rem;
  }
}
@media (orientation: landscape) {
  .realizations {
    padding-top: 15vh;
  }
  .realizations__wrapper {
    grid-template-columns: 80px 80px 80px 80px 80px;
  }
}
@media (orientation: landscape) and (min-width: 667px) {
  .realizations__wrapper {
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: repeat(auto-fill, 100px);
  }
  .realizations__realization {
    width: 100px;
    height: 100px;
  }
  .realizations__insideWrapper {
    width: 130px;
    height: 130px;
  }
  .realizations__readMore {
    font-size: 1.6rem;
  }
  .realizations__realizationName {
    font-size: 1.4rem;
  }
  .realizations__realizationPlace {
    font-size: 1.2rem;
  }
}
@media (orientation: landscape) and (min-width: 1024px) {
  .realizations {
    padding-bottom: 100px;
  }
  .realizations__header {
    margin-bottom: 100px;
  }
  .realizations__wrapper {
    grid-template-columns: 160px 160px 160px;
    grid-template-rows: repeat(auto-fill, 160px);
  }
  .realizations__realization {
    width: 160px;
    height: 160px;
  }
  .realizations__insideWrapper {
    width: 210px;
    height: 210px;
  }
  .realizations__readMore {
    font-size: 2.2rem;
  }
  .realizations__realizationName {
    font-size: 1.8rem;
  }
  .realizations__realizationPlace {
    font-size: 1.6rem;
  }
}
